header {
  background-color: #282a3a;
  display: flex;
  justify-content: space-between;
}

.lista-esquerda {
  display: flex;
  gap: 3em;
}

.lista-meio,
.lista-direita {
  margin-right: 3em;
}

.lista-meio,
.lista-direita,
.lista-esquerda {
  padding: 1.5em;
}

li {
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
}

header li:hover {
  animation: blink-1 0.3s both;
  color: antiquewhite;
  background-color: black;
  border-radius: 15px;
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
