<section>
  <div class="title">
    <h1 class="text-flicker-in-glow">Bem vindo ao Video Share!</h1>
  </div>
  <div class="introduction">
    <h1>
      Faça o compartilhamento de links de videos e salve os seus videos
      favoritos!
    </h1>
    <div class="explanation">
      <p class="explanation-text">
        Esse projeto tem como objetivo colocar em pratica meus conhecimentos de
        HTML, CSS e Angular
      </p>
      <div class="explanation-images">
        <img
          class="image-explanation"
          src="assets/logo-html-5-1536.png"
          alt="HTML"
        />
        <img
          class="image-explanation"
          src="assets/logo-css-3-2048.png"
          alt="CSS"
        />
        <img
          class="image-explanation"
          src="assets/5847ea22cef1014c0b5e4833.png"
          alt="Angular"
        />
      </div>
    </div>
  </div>
  <div>
    <h1 class="title__explanation">
      O site se baseia no carregamento de videos para salva-los
    </h1>
    <p class="explanation-text">
      O card abaixo é um exemplo de como são os cards que serão exibidos no
      site, sendo possivel carrega-los e favorita-los
    </p>
  </div>
  <div class="examples">
    <div class="card">
      <div class="card_video">
        <iframe
          class="video_example"
          width="800"
          height="600"
          src="https://www.youtube.com/embed/Fkqu1DKyIX0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card__description">
        <p class="card__title">Tame Impala - Eventually</p>
        <p class="favorite_image">
          <img
            class="favorite__empty"
            src="../../assets/heart_empty.png"
            alt=""
          />
        </p>
      </div>
    </div>
  </div>
</section>
